*{
    background-color: rgb(169, 182, 197);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    /*outline: 2px solid red;  this is to see boxes temporarily */
    
}

h1 {
    font-size: 60px;
    color: black;
    background-color: rgb(77, 110, 106);
    text-align: center;
}

.index {
    
    margin-left: 40px;
    padding: 20px;
}

.list {
    font-weight: bold;
    
    font-size: 40;
    margin-left: 40px;
    margin: 8px;
}